body{
	font-family: 'Open Sans', sans-serif;
	background-color: honeydew; 
}

h1{
	color: magenta;
	font-size: 70px;
	margin:  70px;
	padding: 22px;
}
header img{
	border-radius: 52px;
	wdith: 222px;
	border: transparent 8 px fuchsia;
}
main img{
	border-radius: 80px;
	width: 567px;
	border: solid 11px paleturquoise;
	margin: 0 auto;
}
P{
	margin: 2px 1000px 2px 0;
	color: skyblue;
}
a{
	color: royalblue;
}