body{
	font-family: 'Open Sans', sans-serif;
	background-color: honeydew; 
}
h1{
	color: palevioletred;
	font-size: 112px;
	font-style: !important;
}
main{
	padding: 50px;
	margin: 0 auto;
	font-size: 22px;
}
header img{
	margin-left: 470px;
	border-radius: 999px;
	border:  11px solid khaki;
	width: 567px;
}
main img{
	margin: 10px;
	border-radius: 80px;
	width: 567px;
	border: solid 11px paleturquoise;
	margin: 0 auto;
}
P{
	margin: 10px 92px 10px 92px;
	color: skyblue;
	font-size: auto;
}
a:hover{
	background-color: greenyellow;
}
a{
	color: royalblue;
	font-size: 25px;
	font-style: italic;
	display: inline-block;
}
p.caption{
	color: darkgrey;
	font-style: italic;
	margin-left: 80px;
}
