body{
	font-family: 'Open Sans', sans-serif;
	background-color: honeydew; 
}

h1{
	color: magenta;
	font-size: 70px;
	margin:  70px;
	padding: 22px;
}
main{
	padding: 50px;
	margin: 0 auto;
	font-size: 52px;
}
header img{
	border-radius: 52px;
	wdith: 399px;
	border: transparent 8 px fuchsia;
	opacity: 0.75;
}
main img{
	border-radius: 80px;
	width: 567px;
	border: solid 11px paleturquoise;
	margin: 0 auto;
}
P{
	margin:  0 auto;
	color: skyblue;
}
a:hover{
	background-color: greenyellow;
}
a{
	color: royalblue;
}
p.caption{
	color: darkgrey;
	font-style: italic;
	margin-left: 80px;
}